<section id="about">
    <img src="assets/images/star.png" alt="Star Icon" />
    <h2>About Me</h2>
    <p>
      Hello! I'm a front-end engineer with over four years of experience in building responsive, user-friendly applications. I specialise in creating seamless, accessible user interfaces using modern technologies like React.js. My passion lies in solving challenging problems, creating impactful user experiences, and continuously learning to stay at the forefront of web development. Recently, I've been enhancing my skills in managing complex UI states, optimising front-end performance, and organising code for better scalability. Outside of coding, I enjoy exploring design principles to create even more engaging and intuitive user experiences.
    </p>
</section>
  